site_name: YatSenOS v2 Tutorial
site_url: https://ysos.gzti.me
repo_url: https://github.com/YatSenOS/YatSenOS-Tutorial-Volume-2
repo_name: YatSenOS-Tutorial-Volume-2

theme:
  name: material
  custom_dir: docs/overrides
  language: zh
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.top
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.prune
    - navigation.indexes
    - navigation.footer
    - navigation.tracking
    - navigation.instant
    - navigation.instant.progress
    - content.code.copy
    - content.code.select
    - content.tabs.link
    - toc.follow
  font:
    code: JetBrains Mono

nav:
  - 主页:
    - index.md
    - 代码规范要求: general/coding_convention.md
    - 寻求帮助: general/help.md
    - 常见问题及解答: general/faq.md
    - 使用 Typst 编写报告: general/typst.md
  - 实验指南:
    - 实验零：实验准备:
      - labs/0x00/index.md
      - 实验任务: labs/0x00/tasks.md
    - 实验一：操作系统的启动:
      - labs/0x01/index.md
      - 实验任务: labs/0x01/tasks.md
    - 实验二：中断处理:
      - labs/0x02/index.md
      - 实验任务: labs/0x02/tasks.md
    - 实验三：内核线程与缺页异常:
      - labs/0x03/index.md
      - 实验任务: labs/0x03/tasks.md
    - 实验四：用户程序与系统调用:
      - labs/0x04/index.md
      - 实验任务: labs/0x04/tasks.md
    - 实验五：fork 与并发:
      - labs/0x05/index.md
      - 实验任务: labs/0x05/tasks.md
    - 实验六：硬盘驱动与文件系统:
      - labs/0x06/index.md
      - 实验任务: labs/0x06/tasks.md
    - 实验七：更好的内存管理:
      - labs/0x07/index.md
      - 实验任务: labs/0x07/tasks.md
    - 实验八：扩展实验:
      - labs/0x08/index.md
  - 实验资料:
    - Linux 环境配置: wiki/linux.md
    - Windows 环境配置: wiki/windows.md
    - Rust 语言基础: wiki/rust.md
    - 实验调试指南: wiki/debug.md
    - UEFI 启动过程: wiki/uefi.md
    - QEMU 使用参考: wiki/qemu.md
    - 分页内存简述: wiki/paging.md
    - ELF 文件格式: wiki/elf.md
    - UART 串口通信: wiki/uart.md
    - CPU 异常与中断处理: wiki/exceptions.md
    - APIC 可编程中断控制器: wiki/apic.md
    - GDT、TSS 与 IDT: wiki/gdt.md
    - 内存管理: wiki/memory.md

markdown_extensions:
  - attr_list:
  - pymdownx.highlight:
      linenums: true
      use_pygments: true
      pygments_lang_class: true
  - pymdownx.superfences:
  - pymdownx.tabbed:
      slugify: !!python/object/apply:pymdownx.slugs.slugify {kwds: {case: lower}}
      alternate_style: true
  - pymdownx.arithmatex:
      generic: true
  - admonition:
  - toc:
      permalink: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify {kwds: {case: lower}}

plugins:
  - minify:
      minify_html: true
      minify_js: true
      minify_css: true
      htmlmin_opts:
        remove_comments: true
      cache_safe: true
  - git-revision-date-localized:
      enable_creation_date: true
      type: iso_datetime

extra_javascript:
  - https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js
  - https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js
  - scripts/katex.js


extra_css:
  - https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css
  - css/fonts.css
  - css/extra.css
  - css/inst.css
