[package]
name = "ysos_boot"
version = "0.0.1"
edition = "2021"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
uefi = "0.27"
uefi-services = { version = "0.24" }
log = "0.4"
