name: Deploy on GitHub Pages
on:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths: ["docs/**"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v3
        with:
          python-version: 3.x

      - run: pip --trusted-host pypi.org --trusted-host files.pythonhosted.org install mkdocs-material
      - run: mkdocs gh-deploy --force
